/* Reset */
* {
    padding: 0;
    margin: 0;
}

/* General */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FEF5FE;
}

/* Header Styles */
.svg-container {
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 15rem;
}

/* Title Styles */
.title {
    margin-top: 49px;
    margin-left: 30px;
}

.title h1 {
    color: #312F2F;
    font-family: Lato;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title p {
    color: #939090;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* User Data Styles */
.user-data {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.user-data input {
    align-items: start;
    margin-top: 10px;
    height: 34px;
    border: 0.25px solid #312f2f49;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.279);
    color: #312F2F;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 5px 10px;
}

.user-data p {
    text-align: end;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #939090;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-data .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-data .button-container #button-login {
    width: 113px;
    height: 34px;
    color: #FFFFFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    border-radius: 17px;
    border: none;
    background: linear-gradient(90deg, #E963A0 0%, #F3976A 50%, #FECB34 100%);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: hand;
}


/* Create Account Styles */
.create-account {
    margin-top: 50px;
    text-align: center;
}

.create-account p {
    color: #939090;
    font-size: 12px;
    font-style: normal;
    font-weight: 400; 
}
.create-account a {
    text-decoration: none;
    font-weight: 700;
}

.create-account a:link {
    color: #312F2F;
    font-weight: 700;
}

.create-account a:visited {
    color: #312F2F;
    font-weight: 700;
}

.create-account a:hover {
    color: #FECB34;
}

.create-account a:active {
    color: #E963A0;
}

